html {
  --theme-color-first: #070D42;
  --theme-color-second: #FFBB33;
  --theme-color-white: #FFFFFF;
  --theme-color-black: #000000;
  --theme-color-white-darken80: #333333;

  --font-first: "Montserrat";
  --font-bold-weight: 700;
}

a, body, div, footer, form, h1, h2, h3, header, html, img, input, label, li, nav, p, select, span, table, textarea, ul {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 100%;
  font: inherit;
  font-size: 100%;
}

div {
  display: block;
}

.jc {
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
}

#burger {
    position: fixed;
    z-index: 7000;
}

@media (max-width: 1500px) and (min-width: 1201px) {
  #burger {
    top: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
  }
}