/* ---------------------------------------------------
-----------------------GENERAL SETTINGS--------------- 
-----------------------------------------------------*/

html {
  --theme-color-first: #070D42;
  --theme-color-second: #FFBB33;
  --theme-color-white: #FFFFFF;
  --theme-color-black: #000000;
  --theme-color-white-darken80: #333333;

  --font-first: "Montserrat";
  --font-bold-weight: 700;
}

a, body, div, footer, form, h1, h2, h3, header, html, img, input, label, li, nav, p, select, span, table, textarea, ul {
  line-height: 100%;
  font: inherit;
  font-size: 100%;
}

div {
  display: block;
}


/* ---------------------------------------------------
-----------------------BURGER MENU-------------------- 
-----------------------------------------------------*/


/* ---------------------------------------------------
-----------------------LEFT SIDE---------------------- 
-----------------------------------------------------*/

.left-wrap {
  list-style: none;
  top: -6vh;
  margin: 6vh;
  width: 100vh;
  font-size: calc(.42rem + .42vw);
  transform-origin: top left;
  transform: rotate(-90deg) translate3d(-100%,0,0);
  position: fixed;
  left: 0;
  color: var(--theme-color-first);
  letter-spacing: 2px;
  box-sizing: border-box;
}

.left-wrap-left {
  position: absolute;
  top: 0;
  left: 6.5vh;
}

.left-wrap-center {
  text-align: center;
}

.left-wrap-right {
  position: absolute;
  top: 0;
  right: 6.5vh;
}


/* ---------------------------------------------------
-----------------------HOMEPAGE--------------------- 
-----------------------------------------------------*/

#container {
  background-color: #070D42;
}

/* ---------------------------------------------------
-----------------------RESPONSIVE--------------------- 
-----------------------------------------------------*/

/*@media (max-width: px) and (min-width: px) {}*/

/* ----------BURGER MENU--------- */