	<div id="app" class="jc">

		<div id="burger">
            <div class="burger-line-wrap-0 burger-line-wrap jc"></div>
            <div class="burger-line-wrap-1 burger-line-wrap jc"></div>
            <div class="burger-line-wrap-2 burger-line-wrap jc"></div>
            <div id="burger-close-wrap-0" class="burger-close-wrap jc"></div>
            <div id="burger-close-wrap-1" class="burger-close-wrap jc"></div>
            <div id="burger-border-wrap">
                <div id="burger-border-top" class="burger-border"></div>
                <div id="burger-border-bottom" class="burger-border"></div>
            </div>
        </div>

	</div>