<div class="left-container">
	<img src="{{ asset('img/phare.png')}}" alt="homepage-image">
	<div class="vertical-line">
		<div class="line"></div>

	</div>
	<div class="menu-items">
		<a class="item" href="{{ path('homepage')}}">HOME</a>
		<a class="item" href="{{ path('aboutme')}}">WHO AM I ?</a>
		<a class="item" href="{{ path('projects')}}">MY PROJECTS</a>
	</div>
</div>
