{% extends "base.html.twig" %}

{% block body %}

	<div class="container">
		{{ include('default/_leftside.html.twig') }}

		<div class="right-container">

			<div class="contact-me">Contact me with pleasure ! <span>crouzetconseil[at]gmail.com</span></div>

			<div class="presentation">
				<p>Hi ! I'm <span>Juliette Crouzet</span>, a Web Developer & Designer from France.</p>
                <p>I'm passionate with design since I've started my Art History's degrees, and I can't help but think outside the box when it comes to design !</p>
                <p>I'm also a web developer specialized in Symfony. It helps me keeping my feet on the ground, always searching for the simplest but most effective solution.</p>
			</div>
		</div>
	</div>

{% endblock %}
