{% extends "base.html.twig" %}

{% block body %}

    <header>
        <div class="container">
            <div class="row">
                <div class="header__top">
                    
                    <nav class="col-md-6 header__top-nav hidden-md-down">
                        <ul>
                            <li><a class="scroll" href="#about">About</a></li>
                            <li><a class="scroll" href="#skills">Skills</a></li>
                            <li><a class="scroll" href="#portfolio">Portfolio</a></li>
                            <li><a class="scroll" href="#contact">Contact</a></li>
                        </ul>
                    </nav>
                    <!-- <nav class="col-md-6 header__top--responsive hidden-lg-up">
                        <ul>
                            <li><a class="menu-bars" href="#"><i class="fa fa-bars" aria-hidden="true"></i></a></li>
                        </ul>
                    </nav> -->
                </div>
            </div>
            
            <div class="header__content">
                <p class="bold">Hello !</p>
                <div class="col-md-6 header__top-brand">
                        <h1>My name is <span class="bold">Juliette</span> Crouzet</h1>
                        <hr>       
                    </div>
                <p>I'm a French <span class="bold">Back-end Developer</span></p>
                <a class="btn scroll" href="#portfolio">See My Work</a>
            </div>
            
            <div class="header__arrow">
                <a class="scroll" href="#about"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
            </div>
            
        </div>                
    </header>
    
    <section id="about">
        <div class="container">
            <h2>Who I Am</h2>
            <hr>
            <img src="" alt="">
            <p class="lead">A Junior Back-end Developer specialized in Symfony</p>
            <p>I'm <span class="bold">Juliette</span> Crouzet, a <strong>developeur</strong> from France.</p>
            <p>I love <strong>designing</strong> and <strong>developing</strong> modern and responsive website.</p>
            <p>Aside from development, I like sport, nature and healthy food.</p>
        </div>
    </section>
    
    <section id="skills">
        <div class="container">
            <h2>My Skills</h2>
            <hr>
            <div class="row">
                <div class="skill col-12 col-lg-6">
                <div class="skills__percent">90%</div>
                    <div class="progress-container">
                        <strong>Symfony</strong>
                        <div class="progress">
                            <div class="progress-bar" style="width: 90%"></div>
                        </div>
                    </div>
                    
                </div>
                <div class="skill col-12 col-lg-6">
                <div class="skills__percent">85%</div>
                    <div class="progress-container">
                        <strong>HTML / CSS</strong>
                        <div class="progress">
                            <div class="progress-bar" style="width: 85%"></div>
                        </div>
                    </div>
                    
                </div>
                <div class="skill col-12 col-lg-6">
                    <div class="skills__percent">80%</div>
                    <div class="progress-container">
                        <strong>Photoshop</strong>
                        <div class="progress">
                            <div class="progress-bar" style="width: 80%"></div>
                        </div>
                    </div>
                </div>
                <div class="skill col-12 col-lg-6">
                    <div class="skills__percent">70%</div>
                    <div class="progress-container">
                        <strong>JavaScript</strong>
                        <div class="progress">
                            <div class="progress-bar" style="width: 70%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="portfolio">
        <h2>Portfolio</h2>
        <hr>
        <div class="container">
            <div class="portfolio__projects">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <figure>
                            <figcaption>
                                <h3>Project Name</h3>
                                <p>Coming Soon</p>
                                <a href="#"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                            </figcaption>
                            <img src="">
                        </figure>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <figure>
                            <figcaption>
                                <h3>Project Name</h3>
                                <p>Coming Soon</p>
                                <a href="#"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                            </figcaption>
                            <img src="">
                        </figure>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <figure>
                            <figcaption>
                                <h3>Project Name</h3>
                                <p>Coming Soon</p>
                                <a href="#"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                            </figcaption>
                            <img src="">
                        </figure>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <figure>
                            <figcaption>
                                <h3>Project Name</h3>
                                <p>Coming Soon</p>
                                <a href="#"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                            </figcaption>
                            <img src="">
                        </figure>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <figure>
                            <figcaption>
                                <h3>Project Name</h3>
                                <p>Coming Soon</p>
                                <a href="#"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                            </figcaption>
                            <img src="">
                        </figure>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <figure>
                            <figcaption>
                                <h3>Project Name</h3>
                                <p>Coming Soon</p>
                                <a href="#"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                            </figcaption>
                            <img src="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="contact">
        <div class="container">
            <p class="lead">Do you like what you see ?</p>
            <p>Need a <span class="text-animate">web developer ?</span></p>
            <a class="btn" href="mailto:cyrilgouverneur@protonmail.com">Contact Me</a>
            
            <div class="contact__social">
                <a href="https://github.com/juliette-crouzet" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
            </div>
        </div>
    </section>
    
    <section id="footer">
        <p>Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="" target="_blank">Juliette Crouzet</a> <i class="fa fa-copyright" aria-hidden="true"></i>2020</p>
    </section>

{% endblock %} 