{% extends "base.html.twig" %}

{% block body %}

	<div class="container">
		{{ include('default/_leftside.html.twig') }}
		<div class="right-container">
			<div class="contact-me">Contact me with pleasure !
				<br>
				<span>crouzetconseil[at]gmail.com</span>
			</div>
		</div>
	</div>
{% endblock %}